<font color='steelblue' size=5><b>Вспомогательные материалы</b></font>

In [1]:
# установим последнюю версию scikit-learn, если она не установлена
# теперь для OneHotEncoder работает одновремеено drop='first' и handle_unknown='ignore'
!pip install scikit-learn==1.1.3

Collecting scikit-learn==1.1.3
  Using cached scikit_learn-1.1.3-cp310-cp310-macosx_12_0_arm64.whl (7.7 MB)
Collecting scipy>=1.3.2
  Downloading scipy-1.10.1-cp310-cp310-macosx_12_0_arm64.whl (28.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 28.8/28.8 MB 9.8 MB/s eta 0:00:00:00:0100:01
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Collecting numpy>=1.17.3
  Downloading numpy-1.24.2-cp310-cp310-macosx_11_0_arm64.whl (13.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.9/13.9 MB 5.6 MB/s eta 0:00:0000:0100:01
Collecting joblib>=1.0.0
  Downloading joblib-1.2.0-py3-none-any.whl (297 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 298.0/298.0 kB 7.0 MB/s eta 0:00:0000:01
Installing collected packages: threadpoolctl, numpy, joblib, scipy, scikit-learn
Successfully installed joblib-1.2.0 numpy-1.24.2 scikit-learn-1.1.3 scipy-1.10.1 threadpoolctl-3.1.0

In [2]:
# помним про PEP-8
# импорты из стандартной библиотеки
import warnings

# импорты сторонних библиотек
import numpy as np
import pandas as pd

# импорты модулей текущего проекта
# длина строки до 78 символов
from sklearn.compose import make_column_transformer
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import (
    GridSearchCV, 
    RandomizedSearchCV,
    train_test_split
)
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import (
    OneHotEncoder,
    OrdinalEncoder,
    StandardScaler
)

# настройки
warnings.filterwarnings("ignore")

# константы заглавными буквами
RANDOM_STATE = 42

In [3]:
def get_data_info(data):
    display(data.sample(5))
    display(data.info())
    display(data.describe(include='all'))

In [4]:
df = pd.read_csv('autos.csv')
get_data_info(df)

,DateCrawled,Price,VehicleType,RegistrationYear,Gearbox,Power,Model,Kilometer,RegistrationMonth,FuelType,Brand,Repaired,DateCreated,NumberOfPictures,PostalCode,LastSeen
183534,2016-03-17 21:44:53,250,small,1997,manual,60,ibiza,150000,0,petrol,seat,NaN,2016-03-17 00:00:00,0,98529,2016-04-07 11:16:54
58304,2016-03-13 20:43:15,590,NaN,2017,manual,45,polo,150000,1,petrol,volkswagen,no,2016-03-13 00:00:00,0,54516,2016-03-17 14:16:22
100640,2016-03-30 23:36:21,14990,coupe,2011,manual,250,megane,60000,9,petrol,renault,no,2016-03-30 00:00:00,0,10587,2016-04-06 01:16:42
196721,2016-03-08 22:06:23,1200,NaN,2017,manual,90,NaN,150000,0,NaN,opel,NaN,2016-03-08 00:00:00,0,65549,2016-04-06 00:45:49
213965,2016-03-20 15:47:07,4000,bus,2005,auto,145,c_max,150000,0,petrol,ford,NaN,2016-03-20 00:00:00,0,27383,2016-04-06 20:18:36

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354369 entries, 0 to 354368
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   DateCrawled        354369 non-null  object
 1   Price              354369 non-null  int64
 2   VehicleType        316879 non-null  object
 3   RegistrationYear   354369 non-null  int64
 4   Gearbox            334536 non-null  object
 5   Power              354369 non-null  int64
 6   Model              334664 non-null  object
 7   Kilometer          354369 non-null  int64
 8   RegistrationMonth  354369 non-null  int64
 9   FuelType           321474 non-null  object
 10  Brand              354369 non-null  object
 11  Repaired           283215 non-null  object
 12  DateCreated        354369 non-null  object
 13  NumberOfPictures   354369 non-null  int64
 14  PostalCode         354369 non-null  int64
 15  LastSeen           354369 non-null  object
dtypes: int64(7), object(9)
memory usage: 43.3+ MB

None

,DateCrawled,Price,VehicleType,RegistrationYear,Gearbox,Power,Model,Kilometer,RegistrationMonth,FuelType,Brand,Repaired,DateCreated,NumberOfPictures,PostalCode,LastSeen
count,354369,354369.000000,316879,354369.000000,334536,354369.000000,334664,354369.000000,354369.000000,321474,354369,283215,354369,354369.0,354369.000000,354369
unique,271174,NaN,8,NaN,2,NaN,250,NaN,NaN,7,40,2,109,NaN,NaN,179150
top,2016-03-24 14:49:47,NaN,sedan,NaN,manual,NaN,golf,NaN,NaN,petrol,volkswagen,no,2016-04-03 00:00:00,NaN,NaN,2016-04-06 13:45:54
freq,7,NaN,91457,NaN,268251,NaN,29232,NaN,NaN,216352,77013,247161,13719,NaN,NaN,17
mean,NaN,4416.656776,NaN,2004.234448,NaN,110.094337,NaN,128211.172535,5.714645,NaN,NaN,NaN,NaN,0.0,50508.689087,NaN
std,NaN,4514.158514,NaN,90.227958,NaN,189.850405,NaN,37905.341530,3.726421,NaN,NaN,NaN,NaN,0.0,25783.096248,NaN
min,NaN,0.000000,NaN,1000.000000,NaN,0.000000,NaN,5000.000000,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,1050.000000,NaN,1999.000000,NaN,69.000000,NaN,125000.000000,3.000000,NaN,NaN,NaN,NaN,0.0,30165.000000,NaN
50%,NaN,2700.000000,NaN,2003.000000,NaN,105.000000,NaN,150000.000000,6.000000,NaN,NaN,NaN,NaN,0.0,49413.000000,NaN
75%,NaN,6400.000000,NaN,2008.000000,NaN,143.000000,NaN,150000.000000,9.000000,NaN,NaN,NaN,NaN,0.0,71083.000000,NaN
max,NaN,20000.000000,NaN,9999.000000,NaN,20000.000000,NaN,150000.000000,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

In [5]:
df.columns = [col.lower() for col in df.columns]

<font color='steelblue' size=3><b>Предположим, что датасет уже изучен. Далее для начала необходимо разделить датасет на тренировочную и тестовую выборки.</b></font>

In [6]:
features = df.drop(['price'], axis=1)
target = df['price']

X_train, X_test, y_train, y_test = train_test_split(
    features, target, test_size=0.25, random_state=RANDOM_STATE
)

In [7]:
get_data_info(X_train)

,datecrawled,vehicletype,registrationyear,gearbox,power,model,kilometer,registrationmonth,fueltype,brand,repaired,datecreated,numberofpictures,postalcode,lastseen
193166,2016-04-02 17:49:54,NaN,2016,NaN,50,polo,20000,12,NaN,volkswagen,NaN,2016-04-02 00:00:00,0,88348,2016-04-06 17:17:44
352298,2016-03-28 21:42:50,NaN,2016,manual,131,focus,150000,6,gasoline,ford,NaN,2016-03-28 00:00:00,0,63839,2016-04-07 04:16:01
282313,2016-03-08 15:51:16,small,2002,manual,52,matiz,125000,9,petrol,daewoo,no,2016-03-08 00:00:00,0,12059,2016-03-12 13:45:45
71434,2016-03-29 08:37:02,coupe,1997,manual,90,tigra,150000,0,petrol,opel,NaN,2016-03-29 00:00:00,0,40789,2016-04-05 19:15:38
106912,2016-03-20 21:38:17,suv,2011,manual,140,kuga,60000,6,gasoline,ford,no,2016-03-20 00:00:00,0,9390,2016-04-01 11:44:40

<class 'pandas.core.frame.DataFrame'>
Int64Index: 265776 entries, 236946 to 121958
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   datecrawled        265776 non-null  object
 1   vehicletype        237668 non-null  object
 2   registrationyear   265776 non-null  int64
 3   gearbox            250825 non-null  object
 4   power              265776 non-null  int64
 5   model              250970 non-null  object
 6   kilometer          265776 non-null  int64
 7   registrationmonth  265776 non-null  int64
 8   fueltype           240988 non-null  object
 9   brand              265776 non-null  object
 10  repaired           212327 non-null  object
 11  datecreated        265776 non-null  object
 12  numberofpictures   265776 non-null  int64
 13  postalcode         265776 non-null  int64
 14  lastseen           265776 non-null  object
dtypes: int64(6), object(9)
memory usage: 32.4+ MB

None

,datecrawled,vehicletype,registrationyear,gearbox,power,model,kilometer,registrationmonth,fueltype,brand,repaired,datecreated,numberofpictures,postalcode,lastseen
count,265776,237668,265776.000000,250825,265776.000000,250970,265776.000000,265776.000000,240988,265776,212327,265776,265776.0,265776.000000,265776
unique,218153,8,NaN,2,NaN,249,NaN,NaN,7,40,2,102,NaN,NaN,145279
top,2016-03-19 21:49:56,sedan,NaN,manual,NaN,golf,NaN,NaN,petrol,volkswagen,no,2016-04-03 00:00:00,NaN,NaN,2016-04-07 09:44:27
freq,6,68668,NaN,201243,NaN,21899,NaN,NaN,162208,57776,185416,10334,NaN,NaN,15
mean,NaN,NaN,2004.295079,NaN,109.582099,NaN,128225.686292,5.711095,NaN,NaN,NaN,NaN,0.0,50506.427499,NaN
std,NaN,NaN,92.255413,NaN,174.758595,NaN,37891.094797,3.728278,NaN,NaN,NaN,NaN,0.0,25794.678920,NaN
min,NaN,NaN,1000.000000,NaN,0.000000,NaN,5000.000000,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,1999.000000,NaN,68.000000,NaN,125000.000000,3.000000,NaN,NaN,NaN,NaN,0.0,30163.000000,NaN
50%,NaN,NaN,2003.000000,NaN,105.000000,NaN,150000.000000,6.000000,NaN,NaN,NaN,NaN,0.0,49377.000000,NaN
75%,NaN,NaN,2008.000000,NaN,141.000000,NaN,150000.000000,9.000000,NaN,NaN,NaN,NaN,0.0,71088.000000,NaN
max,NaN,NaN,9999.000000,NaN,19208.000000,NaN,150000.000000,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

In [8]:
get_data_info(X_test)

,datecrawled,vehicletype,registrationyear,gearbox,power,model,kilometer,registrationmonth,fueltype,brand,repaired,datecreated,numberofpictures,postalcode,lastseen
120425,2016-03-06 14:47:26,bus,2011,auto,200,galaxy,150000,9,gasoline,ford,no,2016-03-06 00:00:00,0,24534,2016-03-15 16:46:23
51685,2016-03-21 14:36:25,small,1996,manual,50,fiesta,150000,8,petrol,ford,no,2016-03-21 00:00:00,0,73054,2016-04-06 13:16:42
341933,2016-04-03 22:55:21,sedan,1999,auto,125,carisma,20000,1,petrol,mitsubishi,NaN,2016-04-03 00:00:00,0,50354,2016-04-06 01:45:07
168682,2016-03-26 14:57:23,small,2006,manual,54,fox,150000,9,petrol,volkswagen,NaN,2016-03-26 00:00:00,0,30890,2016-03-31 10:17:31
59950,2016-03-16 12:45:52,wagon,2004,manual,163,a4,150000,10,gasoline,audi,no,2016-03-16 00:00:00,0,42105,2016-03-17 10:17:08

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88593 entries, 294049 to 58749
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   datecrawled        88593 non-null  object
 1   vehicletype        79211 non-null  object
 2   registrationyear   88593 non-null  int64
 3   gearbox            83711 non-null  object
 4   power              88593 non-null  int64
 5   model              83694 non-null  object
 6   kilometer          88593 non-null  int64
 7   registrationmonth  88593 non-null  int64
 8   fueltype           80486 non-null  object
 9   brand              88593 non-null  object
 10  repaired           70888 non-null  object
 11  datecreated        88593 non-null  object
 12  numberofpictures   88593 non-null  int64
 13  postalcode         88593 non-null  int64
 14  lastseen           88593 non-null  object
dtypes: int64(6), object(9)
memory usage: 10.8+ MB

None

,datecrawled,vehicletype,registrationyear,gearbox,power,model,kilometer,registrationmonth,fueltype,brand,repaired,datecreated,numberofpictures,postalcode,lastseen
count,88593,79211,88593.000000,83711,88593.000000,83694,88593.000000,88593.000000,80486,88593,70888,88593,88593.0,88593.000000,88593
unique,83181,8,NaN,2,NaN,250,NaN,NaN,7,40,2,79,NaN,NaN,62997
top,2016-03-16 15:49:20,sedan,NaN,manual,NaN,golf,NaN,NaN,petrol,volkswagen,no,2016-04-03 00:00:00,NaN,NaN,2016-04-06 09:44:22
freq,4,22789,NaN,67008,NaN,7333,NaN,NaN,54144,19237,61745,3385,NaN,NaN,9
mean,NaN,NaN,2004.052555,NaN,111.631032,NaN,128167.631754,5.725294,NaN,NaN,NaN,NaN,0.0,50515.473773,NaN
std,NaN,NaN,83.852286,NaN,229.233945,NaN,37948.229860,3.720846,NaN,NaN,NaN,NaN,0.0,25748.461621,NaN
min,NaN,NaN,1000.000000,NaN,0.000000,NaN,5000.000000,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,1999.000000,NaN,69.000000,NaN,125000.000000,3.000000,NaN,NaN,NaN,NaN,0.0,30165.000000,NaN
50%,NaN,NaN,2003.000000,NaN,105.000000,NaN,150000.000000,6.000000,NaN,NaN,NaN,NaN,0.0,49492.000000,NaN
75%,NaN,NaN,2008.000000,NaN,143.000000,NaN,150000.000000,9.000000,NaN,NaN,NaN,NaN,0.0,71069.000000,NaN
max,NaN,NaN,9999.000000,NaN,20000.000000,NaN,150000.000000,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

In [9]:
df.info()
df.price(a)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354369 entries, 0 to 354368
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   datecrawled        354369 non-null  object
 1   price              354369 non-null  int64
 2   vehicletype        316879 non-null  object
 3   registrationyear   354369 non-null  int64
 4   gearbox            334536 non-null  object
 5   power              354369 non-null  int64
 6   model              334664 non-null  object
 7   kilometer          354369 non-null  int64
 8   registrationmonth  354369 non-null  int64
 9   fueltype           321474 non-null  object
 10  brand              354369 non-null  object
 11  repaired           283215 non-null  object
 12  datecreated        354369 non-null  object
 13  numberofpictures   354369 non-null  int64
 14  postalcode         354369 non-null  int64
 15  lastseen           354369 non-null  object
dtypes: int64(7), object(9)
memory usage: 43.3+ MB

NameError: name 'a' is not defined

In [ ]:
df.sample(1)

,datecrawled,price,vehicletype,registrationyear,gearbox,power,model,kilometer,registrationmonth,fueltype,brand,repaired,datecreated,numberofpictures,postalcode,lastseen
969,2016-03-25 09:57:23,0,NaN,1990,NaN,0.0,3er,150000,0,NaN,bmw,NaN,2016-03-25 00:00:00,0.0,66822.0,2016-03-29 22:46:53

<font color='steelblue' size=3><b>Предположим, что выборки не требуют никакой обработки аномалий, выбросов и т. д., логично перейти к кодированию и масштабированию.<br>
Допустим, мы решили, что одной из моделей будет Ridge, для котрой будем использовать OHE кодирование категориальных признаков и StandardScaler для численных признаков. Второй моделью будет RandomForestRegressor, для которой будет использоваться порядковое кодирование признака model, имеющего большое количество уникальных значений, и OHE кодирование остальных категориальных признаков.</b></font>

In [ ]:
#категориальные признаки для OHE Ridge
ohe_features_ridge = X_train.select_dtypes(include='object').columns.to_list()
print(ohe_features_ridge)

#категориальные признаки для OHE RandomForestRegressor
ohe_features_rf = ohe_features_ridge.copy()
ohe_features_rf.remove('model')
ohe_features_rf

['datecrawled', 'vehicletype', 'registrationyear', 'gearbox', 'model', 'kilometer', 'registrationmonth', 'fueltype', 'brand', 'repaired', 'datecreated', 'lastseen']

['datecrawled',
 'vehicletype',
 'registrationyear',
 'gearbox',
 'kilometer',
 'registrationmonth',
 'fueltype',
 'brand',
 'repaired',
 'datecreated',
 'lastseen']

In [ ]:
#численные признаки
#обратите внимание, что 'repaired' — категориальный бинарный признак.
num_features = X_train.select_dtypes(exclude='object').columns.to_list()
num_features.remove('repaired')
num_features

ValueError: ignored

In [ ]:
df.select_dtypes(include='object')

,datecrawled,price,vehicletype,registrationyear,gearbox,model,kilometer,registrationmonth,fueltype,brand,repaired,datecreated,lastseen
0,2016-03-24 11:52:17,480,NaN,1993,manual,golf,150000,0,petrol,volkswagen,NaN,2016-03-24 00:00:00,2016-04-07 03:16:57
1,2016-03-24 10:58:45,18300,coupe,2011,manual,NaN,125000,5,gasoline,audi,yes,2016-03-24 00:00:00,2016-04-07 01:46:50
2,2016-03-14 12:52:21,9800,suv,2004,auto,grand,125000,8,gasoline,jeep,NaN,2016-03-14 00:00:00,2016-04-05 12:47:46
3,2016-03-17 16:54:04,1500,small,2001,manual,golf,150000,6,petrol,volkswagen,no,2016-03-17 00:00:00,2016-03-17 17:40:17
4,2016-03-31 17:25:20,3600,small,2008,manual,fabia,90000,7,gasoline,skoda,no,2016-03-31 00:00:00,2016-04-06 10:17:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...
226148,2016-03-21 10:56:47,2600,wagon,1998,manual,NaN,150000.0,12.0,gasoline,audi,yes,2016-03-21 00:00:00,2016-04-04 04:17:40
226149,2016-03-13 10:46:03,3850,convertible,2000,manual,z_reihe,150000.0,10.0,petrol,bmw,NaN,2016-03-13 00:00:00,2016-03-17 12:47:33
226150,2016-04-05 00:42:51,7300,bus,2007,manual,b_klasse,150000.0,8.0,gasoline,mercedes_benz,no,2016-04-04 00:00:00,2016-04-07 03:17:12
226151,2016-03-29 11:25:22,5300,small,2008,manual,beetle,125000.0,7.0,petrol,volkswagen,no,2016-03-29 00:00:00,2016-03-29 15:47:53
226152,2016-03-12 13:37:34,1199,wagon,1998,manual,astra,150000.0,4.0,pet,NaN,NaN,NaN,NaN

<font color='steelblue' size=3><b>
Начнём с линейной модели.<br><br>
Имеется нюанс: в процессе изучения данных было обнаружено, что и для тренировочной, и для тестовой выборок у признака 'model' 82 уникальных значения, но в тренировочной выборке имеется значения 'calibra', которого нет в тестовой выборке, а в тестовой выборке имеется значение 'up', которого нет в тренировочной. Это совершенно обычная для данных ситуация, которую можно легко пропустить, ведь количество признаков абсолютно одинаковое.</b></font>

In [ ]:
models_train = set(X_train['model'].unique())
models_test = set(X_test['model'].unique())
num_models_train = len(models_train)
num_models_test = len(models_test)
print(f'''
Количество уникальных значений признка "model" 
в обеих выборках одинаковое: {num_models_train == num_models_test}
''')
print(f'''
Уникальные значения признка "model" 
в обеих выборках одинаковые: {models_train == models_test}
''')
print(f'''
Только в тренировочной выборке есть значения: {models_train - models_test}
''')
print(f'''
Только в тестовой выборке есть значения: {models_test - models_train}
''')

Количество уникальных значений признка "model"
в обеих выборках одинаковое: False


Уникальные значения признка "model"
в обеих выборках одинаковые: False


Только в тренировочной выборке есть значения: {'i3', 'petrol', 'serie_3', 'range_rover_evoque'}


Только в тестовой выборке есть значения: set()

<font color='steelblue' size=3><b>
Если говорить о прямом кодировании, использование get_dummies в такой ситуации пройдёт без падающего кода, вы просто преобразуете выборки, отдадите их модели, количество признаков одинаковое, а значит код нигде не упадёт. Но в кодировании будет ошибка, ведь в тренировочной и тестовой выборках уникальные значения признака не совпадают.<br><br>
Дело в том, что get_dummies не запоминает информацию о признаках, он скорее подходит для анализа. Конечно можно найти эту особенность, после кодирования удалить из тестовой выборки признак 'up', добавить в неё признак 'calibra' c 0 значениями, тогда всё будет корректно. Предполагается, что модель будет использоваться множество раз, для каждой новой тестовой выборки придётся так же смотреть на каждый признак и делать эту предобработку. Можно даже написать функцию, которая, автоматизирует эти действия. В этом случае можно будет поздравить автора, он изобрёл велосипед 😅 Все эти нюансы уже учтены в OneHotEncoder, давайте посмотрим на него поближе:</b></font>

In [ ]:
X_train_ridge = X_train.copy()
X_test_ridge = X_test.copy()

In [ ]:
# drop='first' удаляет первый признак из закодированных:
# таким образом обходим dummy-ловушку
# задаём handle_unknown='ignore':
# игнорируется ранее невстречающиеся значения признака (при transform)
encoder_ohe = OneHotEncoder(drop='first', handle_unknown='ignore', sparse=False)

# обучаем энкодер на заданных категориальных признаках тренировочной выборки
encoder_ohe.fit(X_train_ridge[ohe_features_ridge])

# добавляем закодированные признаки в X_train_ohe
# encoder_ohe.get_feature_names_out() позволяет получить названия колонок
X_train_ridge[
    encoder_ohe.get_feature_names_out()
] = encoder_ohe.transform(X_train_ridge[ohe_features_ridge])

# удаляем незакодированные категориальные признаки (изначальные колонки)
X_train_ridge = X_train_ridge.drop(ohe_features_ridge, axis=1)

# создаём скелер
scaler = StandardScaler()

# обучаем его на численных признаках тренировочной выборки, трансформируем её же
X_train_ridge[num_features] = scaler.fit_transform(X_train_ridge[num_features])

# смотрим на результат
X_train_ridge.head()

TypeError: ignored

<font color='steelblue' size=3><b>
Если решите остановиться на этом способе и Ridge окажется лучшей моделью, будем трансформировать тестовую выборку так:</b></font>

In [ ]:
# энкодером, который обучен на ТРЕНИРОВОЧНОЙ ВЫБОРКЕ, кодируем тестовую
X_test_ridge[
    encoder_ohe.get_feature_names_out()
] = encoder_ohe.transform(X_test_ridge[ohe_features_ridge])

X_test_ridge = X_test_ridge.drop(ohe_features_ridge, axis=1)

# скелером, который обучен на ТРЕНИРОВОЧНОЙ ВЫБОРКЕ, масштабируем тестовую
X_test_ridge[num_features] = scaler.transform(
    X_test_ridge[num_features]
)

# смотрим на результат
X_test_ridge.head()

,registration_year,kilometer,power,repaired,brand_bmw,brand_ford,brand_mercedes_benz,brand_opel,brand_volkswagen,model_3er,...,vehicle_type_convertible,vehicle_type_coupe,vehicle_type_other,vehicle_type_sedan,vehicle_type_small,vehicle_type_suv,vehicle_type_wagon,gearbox_manual,fuel_type_other,fuel_type_petrol
33553,-0.492958,0.519842,-0.370403,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
9427,0.061052,0.507666,1.607992,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
199,-1.323973,0.885306,1.333759,0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
12447,-0.492958,0.857669,-0.958045,0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
39489,-0.492958,0.302326,-1.173513,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0

In [ ]:
# получилось одинаковое количество признаков
X_train_ridge.shape, X_test_ridge.shape

((37500, 100), (12500, 100))

In [ ]:
# получились одинаковые признаки в тренировочной и тестовой выборках
(X_train_ridge.columns != X_test_ridge.columns).sum()

0

<font color='steelblue' size=3><b>
Если более элегантное решения для кодирования и масштабирования, попробуем make_column_transformer:</b></font>

In [ ]:
X_train_ridge = X_train.copy()
X_test_ridge = X_test.copy()

In [ ]:
# признак repaired уже бинарный, его не будем кодировать/масштабировать
# добавляем remainder='passthrough, чтобы он не пропал 
col_transformer_ridge = make_column_transformer(
    (
        OneHotEncoder(drop='first', handle_unknown='ignore'),
        ohe_features_ridge
    ),
    (
        StandardScaler(), 
        num_features
    ),
    remainder='passthrough',
    verbose_feature_names_out=False
)

# всё готово в пару строк кода
X_train_ridge = pd.DataFrame.sparse.from_spmatrix(
    col_transformer_ridge.fit_transform(X_train_ridge),
    columns=col_transformer_ridge.get_feature_names_out()
)

# смотрим на результат
X_train_ridge.head()

,brand_bmw,brand_ford,brand_mercedes_benz,brand_opel,brand_volkswagen,model_3er,model_5er,model_6er,model_7er,model_a1,...,vehicle_type_small,vehicle_type_suv,vehicle_type_wagon,gearbox_manual,fuel_type_other,fuel_type_petrol,registration_year,kilometer,power,repaired
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,-1.600978,0.569390,0.001771,0.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.446077,0.778466,0.393532,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.338057,0.371868,-0.879692,0.0
3,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,1.0,0.892067,-1.627904,-0.135346,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.892067,0.954276,1.451288,0.0

<font color='steelblue' size=3><b>
Если решите остановиться на этом способе и Ridge окажется лучшей моделью, будем трансформировать тестовую выборку так:</b></font>

In [ ]:
# трансформируем тестовую выборку
X_test_ridge = pd.DataFrame.sparse.from_spmatrix(
    col_transformer_ridge.transform(X_test_ridge),
    columns=col_transformer_ridge.get_feature_names_out()
)

# смотрим на результат
X_test_ridge.head()

,brand_bmw,brand_ford,brand_mercedes_benz,brand_opel,brand_volkswagen,model_3er,model_5er,model_6er,model_7er,model_a1,...,vehicle_type_small,vehicle_type_suv,vehicle_type_wagon,gearbox_manual,fuel_type_other,fuel_type_petrol,registration_year,kilometer,power,repaired
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,1.0,-0.492958,0.519842,-0.370403,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,1.0,0.061052,0.507666,1.607992,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,-1.323973,0.885306,1.333759,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,-0.492958,0.857669,-0.958045,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,1.0,-0.492958,0.302326,-1.173513,0.0

<font color='steelblue' size=3><b>
Теперь подбираем гиперпараметры с помощью GridSearchCV, который имеет встроенную кросс-валидацию для модели Ridge. Лучший вариант — использовать пайплайны, это предотвратит возможность утечки на кросс-валидации. О них в самом конце, а пока рассморим вариант без него:</b></font>

In [ ]:
# random_state не перебирается, задаём его прямо в модели
model_ridge = Ridge(random_state=RANDOM_STATE)

# словарь с гиперпараметрами и значениями, которые хотим перебрать
param_grid_ridge = {
    'alpha': np.arange(0, 0.21, 0.01),
}

gs_ridge = GridSearchCV(
    model_ridge, 
    param_grid=param_grid_ridge, 
    scoring='neg_root_mean_squared_error', 
    n_jobs=-1
)

gs_ridge.fit(X_train_ridge, y_train)

# лучшее значение RMSE на кросс-валидации
print(f'best_score: {gs_ridge.best_score_ * -1}')

# лучшие гиперпараметры
print(f'best_params: {gs_ridge.best_params_}')

best_score: 2260.558448452929
best_params: {'alpha': 0.01}

<font color='steelblue' size=3><b>
Ещё более элегантным решением будет использовать пайплайн вместе с кросс-валидацией. Это позволит кодировать и масштабировать отдельно каждую тренировочную и валидационную выборки внутри кросс-валидации (без «подглядывания»):</b></font>

In [ ]:
X_train_ridge = X_train.copy()

In [ ]:
pipeline_ridge = make_pipeline(col_transformer_ridge, model_ridge)

param_grid_ridge = {
    'ridge__alpha': np.arange(0, 0.21, 0.01),
}

gs_ridge_pl = GridSearchCV(
    pipeline_ridge, 
    param_grid=param_grid_ridge, 
    scoring='neg_root_mean_squared_error', 
    n_jobs=-1
)

gs_ridge_pl.fit(X_train_ridge, y_train)

gs_ridge_best_score = gs_ridge_pl.best_score_ * -1
gs_ridge_best_params = gs_ridge_pl.best_params_

# лучшее значение RMSE на кросс-валидации
print(f'best_score: {gs_ridge_best_score}')
# лучшие гиперпараметры
print(f'best_params: {gs_ridge_best_params}')

best_score: 2260.559847084961
best_params: {'ridge__alpha': 0.02}

<font color='steelblue' size=3><b>
Перейдём к RandomForestRegressor:</b></font>

In [ ]:
X_train_rf = X_train.copy()
X_test_rf = X_test.copy()

In [ ]:
col_transformer_rf= make_column_transformer(
    (
        OneHotEncoder(drop='first', handle_unknown='ignore'), 
        ohe_features_rf
    ),
    (
        OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1), 
        ['model']
    ),
    (
        StandardScaler(), 
        num_features
    ),
    remainder='passthrough'
)

model_rf = RandomForestRegressor(random_state=RANDOM_STATE)

pipline_rf = make_pipeline(col_transformer_rf, model_rf)

param_grid_rf = {
    'randomforestregressor__n_estimators': range(50, 251, 50),
    'randomforestregressor__max_depth': range(2, 15),
    'randomforestregressor__min_samples_split': (2, 3, 4),
    'randomforestregressor__min_samples_leaf': (1, 2, 3, 4)
}

# получается достаточно много комбинаций гиперпараметров при переборе
# будем использовать RandomizedSearchCV, он работает на много быстрее
gs_rf = RandomizedSearchCV(
    pipline_rf, 
    param_distributions=param_grid_rf, 
    scoring='neg_root_mean_squared_error', 
    n_jobs=-1, 
    random_state=RANDOM_STATE
)

gs_rf.fit(X_train_rf, y_train)

gs_rf_best_score = gs_rf.best_score_ * -1
gs_rf_best_params = gs_rf.best_params_
print(f'best_score: {gs_rf_best_score}')
print(f'best_params: {gs_rf_best_params}')

best_score: 1947.8392253783488
best_params: {'randomforestregressor__n_estimators': 250, 'randomforestregressor__min_samples_split': 4, 'randomforestregressor__min_samples_leaf': 3, 'randomforestregressor__max_depth': 12}

In [ ]:
result = pd.DataFrame(
    [gs_ridge_best_score, gs_rf_best_score], 
    index=['Ridge', 'RandomForestRegressor'], 
    columns=['RMSE']
)
result

                              RMSE
Ridge                  2260.559847
RandomForestRegressor  1947.839225

<font color='steelblue' size=3><b>
Лучшей моделью оказалась RandomForestRegressor. Проверим её качесво на тестовой выборке:</b></font>

In [ ]:
rf_prediction = gs_rf.predict(X_test_rf)
metric_test = mean_squared_error(y_test, rf_prediction, squared=False)
metric_test

1938.67987460236

<img src="https://www.storemypic.com/images/2016/11/22/keep-calm-and-good-luck-5f5ac.jpg">

In [ ]:
import numpy as np

vec1 = np.array([1,2,3])
vec2 = np.array([0,1,0])

print(vec1* vec2) 
print(vec1.T * vec2)

print(vec1.T @ vec2)

print(vec1 @ vec2)

[0 2 0]
[0 2 0]
2
2